{
  "extends": "./eslint.base.yaml",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "mocha": true,
    "es6": true,
    "node": true
  },
  "overrides": [
    {
      "files": "test/**/*",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
